<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Relogio/src/css/reset.css">
    <link rel="stylesheet" href="/Relogio/src/css/style.css">
    <title>Relógio</title>
</head>
<body>
    
    <main>

        <div>
            <span id="hrs">00</span>
            <span>Horas</span>
        </div>

        <div>
            <span id="min">00</span>
            <span>Minutos</span>
        </div>

        <div>
            <span id="seg">00</span>
            <span>Segundos</span>
        </div>
    </main>

    <script src="/Relogio/src/js/script.js"></script>
</body>
</html>